---
layout: 'deck_unit'
title: "Core Knowledge"
tags: []
description: "Why do we need a notion of core knowledge?  What is core knowledge and what is its relation to knowledge?"
depends: ['']
source: ['']
duration: 5
---

include ../../../fragments/unit_mixins

//- this is a mix of units 601 and 231


+slide_middle
  .notes: :t()
    I talked about the notion of core knowledge in the very first lecture, but since then I 
    have not appealed to the notion.
    This is deliberate because the notion is tricky; so I thought it would be good to postpone
    our discussion of it for as long as possible.
    Now I can put it off no longer.
  p.what-is.center
    span What is core knowledge?  
    span.systems.hide What are core systems? 
  +show('.systems')
  .notes: :t()
    The first, very minor thing is to realise that there are two closely related notions, core 
    knowledge and core system.
    These are related this: roughly, core knowledge states are the states of core systems.  More 
    carefully:
  .handout.notes For someone to have \textit{core knowledge of a particular principle or fact} is for her to have a core system where 
    | either the core system includes a representation of that principle or else the principle plays a special role in describing the core system.
  .notes So we can define core knowlegde in terms of core system.
  //- 
    +line-through('.what-is')
    .notes: :t()
      The next thing to realise is that asking what core knowledge is will not be very helpful.
      Instead we need to ask a different question ... 
    .slide
      p.center.notes.show Why do we need these notions, core knowledge and core system?
    


//-
  +slide
    .notes Core systems are usually introduced implicitly, in explaining an idea.
    .handout \subsection{The idea}
    p.handout.show ‘We hypothesize that uniquely human cognitive achievements build on systems that humans share with other animals: core systems that evolved before the emergence of our species. 
    p
      span ‘
      span.handout.ctd.show The internal functioning of these systems depends on principles and processes that are distinctly non-intuitive. 
    p
      span ‘
      span.handout.ctd.show Nevertheless, human intuitions about space, number, morality and other abstract concepts emerge from the use of symbols, especially language, to combine productively the representations that core systems deliver’
    p.right Spelke and Lee 2012, pp. 2784-5
    .handout.ctd \citep[pp.\ 2784-5]{spelke:2012_core}.
    .notes So to properly understand what they are we would need  (i) to have a deep understanding of the picture; (ii) and of the hypotheses it inspires; (iii) and of the evidence for these hypotheses, and then we would work back from this to say what core systems are.
    .notes Now you might say that this is terrible, how can scientists use terms without defining them.
    .notes But (a) it's not obvious that definitions are necessary for good science, or even that useful; and (b) compare the notion of knowledge: philosophers have made some informative observations about knowledge, but they've had no success at all in defining it.
    .notes (That said, I do think there's a particular problem with core knowledge.)
  

  
  +slide_middle
    .notes In answering the question, What is core knowledge? I think we should be inspired by the notion of radical interpretation.
    p.notes.show ‘All understanding of the speech of another involves radical interpretation’
    p.right Davidson 1973, p. 125
    .notes.ctd \citep[p.\ 125]{Davidson:1973jx}
    .notes (It's not just core knowledge; I think we have too approach science as radical interpreters ...)
    .notes How does radical interpretation work?
    .notes Interpretation is hard because there are two factors: truth and meaning.
    .notes The proposal Davidson makes is that we assume truth and infer meaning.
    .notes I'm recommending a similar strategy for core knowledge.
    .notes Very roughly, we take for granted that the evidence establishes various hypotheses.  We then ask what core knowledge could be given these are true.
    .notes But more carefully, we first have to ask what motivates talk about core knowledge at all.

  
  
  +slide_middle
    .notes Fine, but this doesn't help us in practical terms.  How are we to get a handle on the notion without doing lots of research?
    .notes The simple approach is to find out what people who use the term say it is.
    p.center
      span But what is core knowledge?  




+slide
  .notes What do people say core knowledge is?
  .handout \subsection{Two-part definition}
  .notes There are two parts to a good definition.  The first is an analogy that helps us get a fix on what we is meant by 'system' generally.  (The second part tells us which systems are core systems by listing their characteristic features.)
  .step1
    p.handout.show
      span ‘Just as humans are endowed with multiple, 
      span.noblur1 specialized perceptual systems
      span , so we are endowed with multiple systems for representing and reasoning about entities of different kinds.’
    .handout.ctd \citep[p.\ 517]{Carey:1996hl}
    p.right
      span (Carey and Spelke 1996: 517)
  +blur('.step1 p :not(.noblur1)')
  .notes So talk of core knowledge is somehow supposed to latch onto the idea of a system.
  .notes What do these authors mean by talking about 'specialized perceptual systems'?
  .notes They talk about things like perceiving colour, depth or melodies.
  .notes Now, as we saw when talking about categorical perception of colour, we can think of the 'system' underlying categorical perception as largely separate from other cognitive systems--- we saw that they could be knocked out by verbal interference, for example.
  .notes So the idea is that core knowledge somehow involves a system that is separable from other cognitive mechanisms.
  .notes As Carey rather grandly puts it, understanding core knowledge will involve understanding something about 'the architecture of the mind'.
  .slide
    img.bkg(src='/img/edge_detection.jpg')
    .notes Illustration: edge detection.
  +fade_('img.bkg')
  +blur_('.step1')
  .slide.step2
    .notes 
    p.handout.show
      // ‘core systems are conceptual and provide a foundation for the growth of knowledge.  …
      span ‘core systems are 
      ol.handout.ctd.show
        li largely innate 
        li encapsulated 
        li unchanging 
        li arising from phylogenetically old systems 
        li built upon the output of innate perceptual analyzers’ 
    .handout.ctd \citep[p.\ 520]{Carey:1996hl}.
    p.right (Carey and Spelke 1996: 520)
    .handout \textit{Note} There are other, slightly different statements \citep[e.g.][]{carey:2009_origin}.  
    .notes This, them is the two part definition.  An analogy and a list of features.
  .slide.step3
    p.em-above representational format: iconic (Carey 2009)
    .notes There is one more feature that I want to mention; this is important although I won't disucss it here.
    .notes To say that a represenation is iconic means, roughly, that parts of the representation represent parts of the thing represented.
    .notes Pictures are paradigm examples of representations with iconic formats.
    .notes For example, you might have a picture of a flower where some parts of the picture represent the petals and others the stem.
    //-     
      .notes But we quickly run into the problem that different researchers say different things, and it isn't obvious which differences matter.
      .notes We also run into the problem that the definitions on offer aren't obviously correct: they list features that maybe aren't all necessary.

+slide_middle
  .notes: :t()
    The first problem we encountered was that the Simple View is false.
    But maybe we can appeal to the Core Knowledge View.
  .notes: :t()
    According to the Core Knowledge View, the principles of object perception, and maybe also the 
    expectations they give rise to, are not knowledge.
    But they are core knowledge.
  .notes: :t()
    This raises some issues.  Is the Core Knowledge View consistent with the claims that 
    we have ended up with, e.g. about categorical perception and the Principles of Object 
    Perception characterising the way that object indexes work?
    I think the answer is, basically, yes.  Categorical perception involves a system that has
    many of the features associated with core knowledge.
  .notes: :t()
    But before going further, I think we critically examine the notion and see whether we really
    understand what core knowledge is.
  p.center.line-through The Simple View
  p.center The Core Knowledge View
    
      
          
+slide_middle
  .notes: :t()
    As a sort of aside, I might mention for anyone familiar with Fodor on modularity 
    that core systems basically coincide modules.
  p.center core system vs module
  
section.slide
  .notes Aside: compare the notion of a core system with the notion of a module
  .notes The two definitions are different, but the differences are subtle enough that we don't want both.
  .notes My recommendation: if you want a better definition of core system, adopt core system = module as a working assumption and then look to research on modularity because there's more of it.
  .notes An example contrasting Grice and Davidson on the wave.
  .handout \subsection{Compare modularity}
  .handout Modules are ‘the psychological systems whose operations present the world to thought’; 
    | they ‘constitute a natural kind’; and 
    | there is ‘a cluster of properties that they have in common’ \citep[p.\ 101]{Fodor:1983dg}.
  .handout These properties include:
  .handout \begin{itemize}
  .handout \item domain specificity (modules deal with ‘eccentric’ bodies of knowledge)
  .handout \item limited accessibility (representations in modules are not usually inferentially integrated with knowledge)
  .handout \item information encapsulation (modules are unaffected by general knowledge or representations in other modules)
  .handout \item innateness (roughly, the information and operations of a module not straightforwardly consequences of learning; but see \citet{Samuels:2004ho}).
  .handout \end{itemize}
  .words: .container_12: .grid_5
    p ‘core systems are 
      ol
        li: span.innate largely innate, 
        li
          span.encapsulated  encapsulated
          span , and 
        li: span  unchanging, 
        li: span  arising from phylogenetically old systems 
        li: span  built upon the output of innate perceptual analyzers’ 
    p.right (Carey and Spelke 1996: 520)
  .slide
    .right-half-white
      .words: .container_12: .grid_6
        div(style='padding-right:1em;')
          p Modules are ‘the psychological 
            span.present-the-world(style='z-index:0;') systems whose operations present the world to thought
            span ’; 
            | they ‘constitute a natural kind’; and 
            | there is ‘a cluster of properties that they have in common’
          ol
            li: span.innate(style='z-index:0;')  innateness 
            li: span.encapsulated(style='z-index:0;')  information encapsulation 
            li: span  domain specificity 
            li: span  limited accessibility 
            li: span  ...
    +highlight('.innate', 'pink')
    +highlight('.encapsulated', 'blue')
    +highlight('ol:eq(0) li:eq(4) span, .present-the-world', 'forestgreen')

  
+slide_middle
  p.center.notes.show But is the notion of core system (or module) explanatory?

        
+slide
  .notes: :t
    One reason for doubting that the notion of a core system is explanator arises from the 
    way we have introduced it.
    We have introduced it by providing a list of features.
    But why suppose that this particular list of features constitutes a natural kind?
    This worry has been brought into sharp focus by criticisms of 'two systems' approaches.
    (These criticisms are not directed specifically at claims about core knowledge, but the criticisms apply.)
  .step1
    .handout \subsection{Objection}
    p.handout.notes.show ‘there is a 
      span.highlight1 paucity of … data
      span  to suggest that they are the only or the best way of carving up the processing,
    p.handout.notes.show ‘and it 
      span.highlight1 seems doubtful
      span  that the often long lists of correlated attributes should come as a package’
    .handout.notes.ctd \citep[p.\ 759]{adolphs_conceptual_2010}
    p.right Adolphs (2010 p. 759)
  .slide.step2
    p.handout.notes.show.em-above ‘
      span.highlight1 we wonder
      span  whether the dichotomous characteristics used to define the two-system models 
      | are … perfectly correlated …
    p.handout.ctd.notes [and] whether a hybrid system that combines characteristics from both systems could not be … viable’
    .handout.notes.ctd \citep[p.\ 537]{keren_two_2009}
    p.right Keren and Schul (2009, p. 537)
  +highlight('.highlight1','pink')
  .notes This is weak.
  .notes Remember that criticism is easy, especially if you don't have to prove someone is wrong.
  .notes Construction is hard, and worth more.
  +blur('.step1, .step2')
  .slide
    .notes Even so, there is a problem here.
    p.handout.notes.show.em-above
      | ‘the process architecture of social cognition is still very much in need of a detailed theory’
    .handout.notes.ctd \citep[p.\ 759]{adolphs_conceptual_2010}
    p.right Adolphs (2010 p. 759)
                        
  
+slide_middle
  .notes: :t()
    Given the problems, maybe we should just abandon the notions of core system and core knowledge.
    After all, we have come this far without them. 
  p.center.notes.show Why do we need a notion like core system?

// *todo : reveal first column from start ; add block for notes
mixin discrepancy_table(p)
  if !p
    - p = {step:true}
  table.data
    thead
      tr
        td domain
        td evidence for knowledge in infancy
        td evidence against knowledge
    tbody
      tr.odd.case-colour(class="#{p.step ? 'slide' : ''}")
        td colour
        td categories used in learning labels & functions
        td failure to use colour as a dimension in ‘same as’ judgements
      tr.even.case-objects(class="#{p.step ? 'slide' : ''}")
        td physical objects
        td patterns of dishabituation and anticipatory looking
        td unreflected in planned action (may influence online control)
      tr.odd.case-minds(class="#{p.step ? 'slide' : ''}")
        td minds
        td reflected in anticipatory looking, communication, &c
        td not reflected in judgements about action, desire, ...
      tr.even.case-syntax(class="#{p.step ? 'slide' : ''}")
        td syntax
        td [to follow]
        td [to follow]
      tr.odd.case-number(class="#{p.step ? 'slide' : ''}")
        td number
        td [to follow]
        td [to follow]


+slide
  .notes So why do we need a notion like core knowledge?
  .notes Think about these domains.
  .notes In each case, we're pushed towards postulating that infants know things, but also pushed against this.
  .notes Resolving the apparent contradiction is what core knowledge is for.
  +discrepancy_table
  // **todo: these notes belong after the table is achieved
  .notes Key question: What features do we have to assign to core knowledge if it's to describe these discrepancies?
  .notes I think the fundamental feature is inaccessibility.





+slide_middle
  .notes If this is what core knowledge is for (if it exists to explain these discrepancies), what features must core knowledge have?
  p.center If this is what core knowledge is for, what features must core knowledge have?

//- repeats an earlier slide  
+slide
  p
    span ‘Just as humans are endowed with multiple, 
    span.noblur1 specialized perceptual systems
    span , so we are endowed with multiple systems for representing and reasoning about entities of different kinds.’
  .handout.ctd \citep[p.\ 517]{Carey:1996hl}
  p.right (Carey and Spelke 1996: 517)
  p ‘core systems are 
    ol
      li largely innate 
      li encapsulated 
      li unchanging 
      li arising from phylogenetically old systems 
      li built upon the output of innate perceptual analyzers’ 
    p.right (Carey and Spelke 1996: 520)
    p.em-above representational format: iconic (Carey 2009)
  .notes: :t()
    Look at those features characterising core knowledge as defined by Carey and Spelke again
    -- innate, encapsulated, unchanging and the rest.
    None of these straightforwardly enable us to predict that core knowledge of objects will 
    guide looking but not reaching.
    (I'll say in a moment: 
    The iconic format is important, but because it explains a missing feature, namely limited
    accessibility.)
    
+slide_middle
  .notes The feature we most need is actually missing from their list.
  p.center If this is what core knowledge is for, what features must core knowledge have?
  p.em-above.center
    span.bkg-words-highlight-invert limited accessibility to knowledge
  .notes To say that a system or module exhibits limited accessibility is to say that the representations in the system are not usually inferentially integrated with knowledge.
  .notes I think this is the key feature we need to assign to core knowledge in order to explain the apparent discrepancies in the findings about when knowledge emerges in development.

section.slide
  .notes Limited accessbility is a familar feature of many cognitive systems.
  .notes When you grasp an object with a precision grip, it turns out that there is a very reliable pattern.
  .notes At a certain point in moving towards it your fingers will reach a maximum grip aperture which is normally a certain amount wider than the object to be grasped, and then start to close.
  .notes Now there's no physiological reason why grasping should work like this, rather than grip hand closing only once you contact the object.
  .notes Maximum grip aperture shows anticipation of the object: the mechanism responsible for guiding your action does so by representing various things including some features of the object.
  .notes But we ordinarily have no idea about this.
  .notes The discovery of how grasping is controlled depended on high speed photography.
  .notes This is an illustration of limited accessibility.
  .notes (This can also illustrate information encapsulation and domain specificity.)
  .container_12
    .grid_4
      .words
        p maximum grip aperture
        p.right (source: Jeannerod 2009, figure 10.1)
    .grid_8
      img(src='/img/jeannerod_2009_fig10-1.png', style='max-height:600px;')


+slide
  .notes To sum up, there are two problems with the notion of core knowledge ...
  .notes.show 
    p core systems -- questions:
    ol
      li Is appealing to core systems (modules) explanatory?
      li Can the Core Knowledge View explain the discrepancy?
      li Is the view I've been developing consisten with the Core Knowledge View?
      li Is core knowledge all one thing?
      li How do you get from core knowledge to knowledge knowledge?
  .notes: :t()
    The Core Knowledge View is the view that infants' competence with objects, causes, colours
    and the rest depends not on knowledge (as the Simple View has it) but on core knowledge.
  .notes: :t()
    On the first question, I could tell you a long story about computational processes and 
    representational formats.  But I won't do that here.
  .notes: :t()
    On the second question, I think the answer is probably yes because the difference in
    representational formats between knowledge proper and core knowledge explains limited
    accessibility, and this in turn partially explains the discrepancies.
    (But note that it doesn't explain is why the discrepacies fall exactly where they do.)
  .notes: :t()
    On the third question, I think that thinking about categorical perception, or the perceptual 
    systems that underpin objects indexes is a way of getting at what core knowledge really 
    involves.  Core systems are not always something over and above perceptual and motor systems
    (although it seems probably that they sometimes are if our competence with syntax rests on 
    core knowledge).
  .notes: :t()
    On the fourth question,
    Most people are committed to there being different stories for (a) colour (categorical 
    perception); (b) syntax (tacit knowledge); and (c) physical objects.
    I'm not sure. I'm tempted to think that perceptual and motor cognition are at the root of these 
    in every case, but this is a radical idea for which there is currenly very little evidence.
  .notes: :t()
    The fifth question is just a variant of what I called The Problem (see lecture 2; it arises 
    from the failure of the Simple View).
    
+slide({bkg:'slide_core_knowledge_innate_transitions.jpg'})
  .notes This picture is significantly different from some competitors (but not Carey on number):
  .notes (1) because it shows we aren't done when we've explained the acquisition of core knowledge (contra e.g. Leslie, Baillargeon), and
  .notes (2) because it shows we can't hope to explain the acquisition of knowledge if we ignore core knowledge (contra e.g. Tomasello)
