---
layout: 'deck_unit'
title: "Recap: The Simple View, Not"
tags: []
description: "This section reviews our conclusions from the previous lecture on knowledge of physical objects."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins

- qq = {}
- qq.q1 = 'How do humans come to meet the three requirements on knowledge of objects?'
- qq.q2 = 'What is the relation between the principles of object perception and infants’ looking behaviours?'
- qq.q2a = 'Given that the simple view is wrong, what is the relation between the principles of object perception and infants’ competence in segmenting objects, object permanence and tracking causal interactions?'
- qq.q2b = 'The principles of object perception result in ‘expectations’ in infants.  What is the nature of these expectations?'
- qq.q3 = 'What is the relation between adults’ and infants’ abilities concerning physical objects and their causal interactions?'

+slide
  .notes.handout: :t()
    Knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as 
    persisting and (iii) track their interactions.
  p Three requirements
  ul
    li segment objects
    li represent objects as persisting
    li track objects’ interactions
  .notes.handout \emph{Question 1}  #{qq.q1}
  .notes: :t()
    Until quite recently it was held, following Piaget and others, that these three abilities 
    appeared relatively late in development.  
    However, as we saw last week, more recent investigations provide strong evidence that all three 
    abilities are present in humans from around four months of age or earlier.  
    Infants' looking behaviours indicate that they have expectations concerning segmentation, 
    persistence and causal interactions.  
  .notes.handout: :t()
    \emph{Discovery 1} Infants manfiest all three abilities from around four months of age or 
    earlier.

+slide
  .notes: :t()
    We also saw that infants' abilities to segement objects, represent them as persisting and track 
    their causal interactions can be described by appeal to a single set of principles, 
    the principles of cohension, boundedness, rigidity and no action at a distance.
  .notes This suggests that 
    .handout: :t()
      \emph{Discovery 2} Although abilities to segment objects, to represent them as persisting 
      through occlusion and  to track their causal interactions are conceptually distinct, they 
      may all be consequences of a single mechanism (in humans and perhaps in other animals).
  .notes: :t()
    Spelke suggests, further, that these principles of object perception explain infants' looking 
    behaviours.
  .notes This means we must ask
    .handout \emph{Question 2} #{qq.q2}
  p Principles of Object Perception
  ul
    li cohesion
      span.step2.grey-text —‘two surface points lie on the same object only if the points are linked by a path of connected surface points’
    li boundedness
      span.step3.grey-text —‘two surface points lie on distinct objects only if no path of connected surface points links them’
      // … the boundedness principle implies that … two distinct objects cannot interpenetrate.’
    li rigidity
      span.step4.grey-text —‘objects are interpreted as moving rigidly if such an interpretation exists’
    li no action at a distance
      span.step5.grey-text —‘separated objects are interpreted as moving independently of one another if such an interpretation exists’
  p.right (Spelke 1990)

+slide_middle
  p.center the Simple View
  .notes In answer to Q2, I suggested that we start with the Simple View.  
  .notes.handout The \emph{Simple View} is the view that #{origins.simple_view}
  .notes: :t()
    The attraction of the simple view is that it promises to explain infants' sensitivity to 
    objects' boundaries, their persistence and their causal interactions as manifested in a variety 
    of looking behaviours.

+slide
  div.brightness-150
    +img_clip('baillargeon_1987_fig1.png', 'rect(237px,320px,550px,0px)')
  p.source Baillargeon et al (1987, figure 1)
  .notes: :t()
    The problem for the simple view is that it makes exactly the wrong prediction about infants' 
    reaching behaviours.
  .notes: :t()
    This problem arises twice, once for object permanence and again for causal interactions.
    Take object permanence first.  In this case the problem is 
    that four and five month old infants appear to be surprised when a solid object is placed 
    behind a drawbridge 
    and then the drawbridge rotates back 180 degrees as if the object wasn't there.  
    But if you put a desirable object behind a screen, these infants won't ever search behind the 
    screen for the object. 
    So if we measure their looking behaviours, they seem to know that an object is behind the 
    screen; but if we measure their searching behaviours they seem not to know this.

+slide({bkg:'slide_lecture04_014.jpg'})
  .notes: :t()
    As I keep saying, 
    the problem for the Simple View is that it correctly predicts looking behaviours but not 
    searching behaviours.
    This problem arises a second time in the case of infants' abilities to track causal 
    interactions.
    Suppose you roll a ball down this ramp and remove it from behind one of the doors.
    You can predict where the ball will stop because you can see this barrier sticking up here.
    2 and 2.5 year olds will look longer if you remove it from any door other than the right one.
    These children and infants can also predict the location of the object (not just identify a 
    violation, but look forward to where the object is) \citep{mash:2006_what}.
    But if you ask them to remove the ball (and offer them a reward for doing so), 
    the two year olds will typically choose a favourite door to open every time regardless of where 
    the barrier is.  
    (Incidentally this is not random but seems to be based on momentum 
    \citep{perry:2008_representational}.) 
    And the 2.5 year olds will choose a door adjacent to the barrier but do not prefer the door on 
    the correct side of the barrier.
  .notes: :t()
    The failure to reach is a problem for the Simple View because it predicts that children will 
    correctly retrieve the ball.

+slide_middle
  p.center.line-through the simple view
  .notes.handout: :t()
    \emph{Discovery 3}  The Simple View generates systematically false predictions (about reaching).
  .notes.ctd So we have to reject it.
  .notes: :t()
    We were led to the simple view by Question 2, What is the relation between the principles of 
    object perception and infants' looking behaviours?
    The failure of the Simple View leaves us with two questions ...
  .notes.handout \emph{Question 2a} #{qq.q2a}
  .notes.handout \emph{Question 2b} #{qq.q2b}

+slide_middle
  p.center 
    span.line-through knowledge
    span  representation
  .notes: :t()
    As a first move, you might say that infants do not know or believe the principles,
    but they do represent them.  This move involves making some assumptions, but I think it is a 
    good move as far as it goes.
    The problem is that it doesn't go very far.
    Representation is a highly abstract notion. 
    Knowledge and belief are types of representation, and there are many other kinds.
    In order to make predictions, we need to say what kind of representation underpins
    infants' competence.



section.slide
  .photobox-bottom-right
    img.photo-right(src='/img/davidson.gif')
  +_slide_inner
    p.part1.blur-text
      span ‘if you want to describe what is going on in the head of the child when it has a few words which it utters in appropriate situations,  
      span.you-will-fail you will fail
      span.step2.hide   for lack of the right sort of words of your own.
    p.step3
      span ‘We have many vocabularies for describing nature when we regard it as 
      span.bkg-words-highlight-invert mindless
      span , and we have a mentalistic vocabulary for describing 
      span.bkg-words-highlight-invert thought and intentional action
      span ; what we lack is a way of describing 
      span.bkg-words-highlight-invert what is in between
      span ’
    p.right
      span (Davidson 1999, p. 11)
  .notes: :t()
    Just here we have come up against what I'm calling Davidson's challenge.
    The problem is that we have to describe something which is not mindless (because it does 
    involve representation) but which is also not full-blown thought.
  +unblur_('.part1')
  +highlight('.you-will-fail', 'red')
  .notes: :t()
    Will we fail?
    I think not
    
+slide_middle
  .notes: :t()
    I am emphasising this problem so much because it is quite general.
    It doesn't arise only in the case of knowledge of objects but also in other domains (like knowledge of number and knowledge of mind).
    And it doesn't arise only from evidence about infants or nonhuman primates; it would also arise if our focus were exclusively on human adults.
    More on this later.
    For now, our aim is to search for solutions to the problem.
  p.center generality of the problem


+slide_middle
  p.center why?
  .notes: :t()
    Why is this important?
    The discovery of infant abilities presents us with a dilemma.
    If we follow researchers like Michael Tomasello in dismissing infants' abilities to focus on 
    social interactions, culture and language, we miss something important about the origins of 
    knowledge.  We will miss the fact that coming to know things about physical objects (and 
    colours, and mind and more besides) involves multiple layers of representation.
    But if we follow researchers like Spelke and Baillargeon is discussing infants' abilities as 
    if they were based on knowledge, belief and inference, we will also miss something important 
    about the origins of knowledge.  We will miss the fact that infants' abilities, although 
    essential for later developments, are only indirectly related to the knowledge of physical 
    objects that adult humans enjoy.
    The challenge is to avoid this dilemma, to provide a theoretical framework that will allow us 
    to understand how infants' abilities support the emergence of knowledge without themselves 
    amounting to knowledge.


//- partially duplicated from lecture_03 !!
+slide
  p interlocking themes:
  ul
    li the Problem
    li knowledge of causal interactions
    li.step3.hide relation of infant to adult cognition
  .notes: :t()
    I started this lecture by saying I want to examine two interlocking themes.  
    We can make progress with the Problem by investigating how humans first acquire 
    knowledge of causal interactions among particular objects.
  +show('.step3')
  .notes: :t()
    Actually there is a third theme that I want to tackle simultaneously with the other two.
  .notes.handout \emph{Question 3} #{qq.q3}
  .notes: :t()
    Let me explain ...


section.slide
  .notes: :t()
    If we accepted the Simple View, we would think of the relation between adult and infant
    abilities like this (adult is just larger infant) ...
  p.em-above &nbsp;
  .container_12
    .grid_3
      p.center infant
    .grid_3
      p &nbsp;
    .grid_3
      p &nbsp;
    .grid_3
      p.center adult
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3.slide
      +colour-ball('yellow', '50')
    .grid_3.slide
      +colour-ball('yellow', '75')
    .grid_3.slide
      +colour-ball('yellow', '100')
  .clear
  .container_12
    .grid_3
      p &nbsp;
    .grid_3
      p.center social interaction
    .grid_3
      p.center language
    .grid_3
      p &nbsp;
  .clear
  p &nbsp;
  .slide.container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '50')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '100')
  .words: .container_12: .grid_12
    p(style='margin-top:-50px;') time --->    
  .notes: :t()
    Rejecting the Simple View does not force us to reject that picture of the relation between 
    infant and adult cognitive abilities, but it does open up the possibility of an alternative 
    view (the `two systems' view)
    


//- partially duplicated from above and  lecture_03 !!
+slide
  p interlocking themes:
  ul
    li the Problem
    li knowledge of causal interactions
    li relation of infant to adult cognition
  .notes: :t()
    So, at the risk of confusing you, this lecture is going to be about three things.
    On the first, there are two issues:
  .notes #{qq.q2a}
  .notes #{qq.q2b}
  .notes: :t()
    The second is just the question, How do humans first acquire knowledge of particular causal 
    interactions among objects?
  .notes: :t()
    And the third is #{qq.q3}
  .notes: :t()
    I'm going to approach these indirectly, by asking a question about perception of causation.
    This won't seem relevant yet, but it will become relevant.


