---
layout: 'deck_unit'
title: "Mindreading: First Puzzle"
tags: []
description: "The first puzzle concerns apparently conflicting findings about when and how humans acquire awareness of others' beliefs."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/compatibility_mixins


+slide_middle
  .notes There is a puzzle about when humans can first know individuating facts about others' beliefs.
  .notes To understand the origins of this knowledge we need to understand the puzzle.
  .notes So I'm going to reveal the puzzle to you.  But let me start with a bit of background.
  p.center a puzzle


section.slide
  .notes Recall the experiment that got us started.
  .notes These experimenters added an anticipation prompt and measured to which box subjects looked first \citep{Clements:1994cw}.
  .notes (Actually they didn't use this story; theirs was about a mouse called Sam and some cheese, but the differences needn't concern us.)
  .slide-clone(data-which='#maxi_story')
  +show('.anticipationPrompt')
  +words-bkg('.anticipationPrompt','pink')
  

+slide
  .notes What got me hooked philosophical psychology, 
    | and on philosophical issues in the development of mindreading in particular 
    | was a brilliant finding by Wendy Clements who was Josef Perner's phd student.
  img(src='/img/clements_1994_fig1.png',style='max-height:550px;')
  p.source Clements & Perner 1994 figure 1
  .notes These findings were carefully confirmed \citep{Clements:2000nc,Garnham:2001ql,Ruffman:2001ng}. 
  .notes Around 2000 there were a variety of findings pointing in the direction of a confict between different measures. 
  .notes These included studies on word learning \citep{Carpenter:2002gc,Happe:2002sr} and false denials \citep{Polak:1999xr}. 
  .notes But relatively few people were interested until ...



// sequence of slides from budapest CEU 2011-2 lectures on mindreading and joint action, lecture 01
// *todo move notes from those lectures

// *todo notes to slide 50: ss in Knudsen pointing are 18 months old
+slide({bkg:'unit_411/slide_budapest_lecture01_23.jpg'})
  .handout \subsection{Theory of mind cognition is hard}
  .handout Conceptually demanding:
  .handout \begin{itemize}\itemsep0pt
  .handout \item Acquisition takes several years \citep{Wimmer:1983dz,Wellman:2001lz}
  .handout \item Tied to the development of executive function \citep{Perner:1999yr,Sabbagh:2006ke} and language \citep{Astington2005ot}
  .handout \item Development facilitated by explicit training \citep{Slaughter:1996fv} and siblings \citep{Clements:2000nc,Hughes:2004zj}
  .handout \end{itemize}
  .handout Cognitively demanding: 
  .handout \begin{itemize}
  .handout \item Requires attention and working memory in fully competent adults \citep{Apperly:2008jv,McKinnon:2007rr}
  .handout \end{itemize}

- var img_nos = range(24,49)
each img_no in img_nos
  - var filename = 'unit_411/slide_budapest_lecture01_'+img_no+'.jpg'
  +slide({bkg:filename})

+slide({bkg:'unit_411/slide_budapest_lecture01_50.jpg'})
  .notes: :t()
    ‘In experiment 3, we tested whether infants would correctly attribute ignorance to an 
    adult who did not know in which of the two containers her toy was and whether, in 
    contrast to the false belief conditions, infants would inform the adult about the 
    aversive objects in both locations equally.’

- var img_nos = range(51,72)
each img_no in img_nos
  - var filename = 'unit_411/slide_budapest_lecture01_'+img_no+'.jpg'
  +slide({bkg:filename})

+slide({bkg:'unit_411/slide_budapest_lecture01_73.jpg'})

// *todo* duplicated!
mixin slide_theChallenge()
  +slide({bkg:'bkg_twins.jpg'})
    div(style='margin-left:200px;')
      .vspace-em
      .vspace-em
      .huge-glow.right challenge
      .under-huge-glow.right Explain the emergence, in evolution or development, of 
        span.highlight1 mindreading.
      block

+slide_theChallenge
  .notes: :t()
    The challenge is to explain the emergence, in evolution or development, of mindreading.
    Initially it looked like this was going to be relatively straightforward and involve just language, social interaction and executive function.
    So a Myth of Jones style story seemed viable.
    But the findings of competence in infants of around one year of age changes this.
    These findings tell us that not all abilities to represent others' mental states can depend on things like language.
    And, as I've been stressing, these findings also create a puzzle.
    The puzzle is, roughly, how to reconcile infants' competence with three-year-olds' failure.
  .notes: :t()
    *todo*: There are at least two possible puzzles you might focus on:
    1. How can we avoid the apparent contradiction in the evidence?
    2. How can we explain the apparent discrepancy between infants and 3-year-olds' performances?
    Minimal theory of mind might resolve puzzle 1 but it won't by itself resolve puzzle 2.
    This wasn't clear enough in the lecture (sorry!).
  

+slide({bkg:'slide_lecture04_013.jpg'})
  .notes The puzzle is a little bit like the puzzle we had in the case of knowledge of physical objects.
  .notes But it's also different.
  .notes In the case of physical objects, the conflict was between measures involving looking and measures involving searching.
  .notes In this case it's different, because on the infant side there is not just looking but also acting (e.g. helping) and even communicating.


// *todo : reveal first column from start ; add block for notes
mixin discrepancy_table(p)
  if !p
    - p = {step:true}
  table.data
    thead
      tr
        td domain
        td evidence for knowledge in infancy
        td evidence against knowledge
    tbody
      tr.odd.case-colour(class="#{p.step ? 'slide' : ''}")
        td colour
        td categories used in learning labels & functions
        td failure to use colour as a dimension in ‘same as’ judgements
      tr.even.case-objects(class="#{p.step ? 'slide' : ''}")
        td physical objects
        td patterns of dishabituation and anticipatory looking
        td unreflected in planned action (may influence online control)
      tr.odd.case-minds(class="#{p.step ? 'slide' : ''}")
        td minds
        td reflected in anticipatory looking, communication, &c
        td not reflected in judgements about action, desire, ...
      tr.even.case-syntax(class="#{p.step ? 'slide' : ''}")
        td syntax
        td [to follow]
        td [to follow]
      tr.odd.case-number(class="#{p.step ? 'slide' : ''}")
        td number
        td [to follow]
        td [to follow]


+slide
  +discrepancy_table

+slide_middle
  p 1. There are subjects who can pass A-tasks but cannot pass B-tasks.
  p.em-above 2. These subjects’ success on A-tasks is explained by the fact that they 
    span.bold can
    span  
    span.represent represent
    span  (false) beliefs.
  p.em-above  3. These subjects’  failure on B-tasks is explained by the fact that they 
    span.bold cannot
    span  
    span.represent represent
    span  (false) beliefs.
  +highlight('.represent')
  .notes: :t()
    So we're invited to think that there may be representation in one sense but not another.
    Only the second sense is knowledge.
    
  


+slide_middle
  p.center Is core knowledge (modularity) the solution?
  .notes Can we solve the puzzle by appeal to core knowledge (or 'modularity')?
  .notes The difference in measures is a hopeful sign that we can.
  .notes But the fact that representations of others' minds influence 1-year-olds' actions (e.g. in communicating and helping) complicates things because we imagine modules as inferentially isolated from practical reasoning.
  .notes Looking at a further puzzle will help us.

// +slide({bkg:'unit_411/slide_budapest_lecture01_73.jpg'})
//   .notes Here's the first puzzle one more time.
//   // *todo* cut?
  
  