---
layout: 'frontpage'
title: 'Origins of Mind'
---


include ../../fragments/slide_mixins

html
  body

    .hero-unit.fade-in
      h1 Origins of Mind:
        //
          span.l1 O
          span.l2 r
          span.l3 i
          span.l4 g
          span.l5 i
          span.l6 n
          span.l7 s
          span  of Mind:
      h2 Philosophical Issues in Cognitive Development
      p --- by s.butterfill@warwick.ac.uk
      p A course at the University of Warwick about how humans come to know about objects, causes, words, numbers, colours, actions and minds.
    
    .row
      .span4
        #before_taking(style="padding-right:1em;")
          h2 Before deciding whether to take the module
          ul
            li
              a(href='/pdf/origins_of_mind.handout.pdf', target="_blank") About this course (a handout)
            li
              a(href='/pdf/origins_of_mind.outline.pdf', target="_blank") Detailed outline
        
      .span4(style='border-left: 1px dotted grey; border-right: 1px dotted grey;margin-right: -1px;margin-left: -1px;')
        #essays(style="padding-right:1em;padding-left:1em")
          h2 Essays, readings and tasks for seminars
          ul
            li
              a(href='/handouts/essay_questions.pdf', target="_blank") Essays, readings and tasks for seminars --- undergraduates
            li
              a(href='/handouts/essay_questions_ma.pdf', target="_blank") Essays, readings and tasks for seminars --- MA and MPhil students

      .span4
        #practical_info
          h2 Practical Info
          p For timings, past exam papers, permission to the take module as an unusual option and everything else, please see:
          ul
            li
              a(target='_blank',href="http://www2.warwick.ac.uk/fac/soc/philosophy/undergraduate/modules/ph357/") for PH357
            li
              a(target='_blank',href="http://www2.warwick.ac.uk/fac/soc/philosophy/postgraduate/modules/ph9f0/") for PH9F0
        
 
    .row
      //- main content: lecture outlines &c
      .span9
        #slides_and_handouts
          h2 Slides and Handouts
          p You can find slides and handout below, together with an outline of each lecture.
          p Please note that these may be continuously revised.

        //- now do a section for each lecture
        each lecture in getCollection("lectures").toJSON()
          div(id='#{lecture.basename}')
            .page-header
              h2: a(href='#{lecture.url}',target='_blank') #{lecture.title}
              if lecture.lecture_date
                p Date given: #{moment(lecture.lecture_date).format('dddd Do MMMM YYYY')}
              p 
                a(href='#{lecture.url}',target='_blank') slides
                |  , 
                a(href='/handouts/#{lecture.basename}.handout.pdf',target='_blank') handout [pdf]
              
              .units(style='border-left: 1px dotted grey;margin-left: -1px;')
                div(style="padding-left:2em;")
                  if lecture.units
                    - each unit_num in lecture.units
                      - unit = get_unit(unit_num)
                      h3
                        a(href="#{unit.url}") #{unit.title}
                        span(style="font-size:50%;color:grey;")  (#{unit_num})
                      if unit.tags && unit.tags.length && unit.tags.length > 0
                        p(style="text-align:right;margin:0;padding:0;margin-top:-2.5em;") 
                          each t in unit.tags
                            span.label.label-info #{t}
                            | 
                      p #{unit.description}
                      if unit.book && unit.book.length > 0 
                        p Reading:  ยง#{unit.book.join(', ยง')}
                      if unit.exercises && unit.exercises.length > 0 
                        p Exercises (regular): #{unit.exercises.join(', ')}
            
